* default styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* background  
.hero-section{
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 48px;
} */
/* header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* logo */
#logo{
    position: relative;
}
/* nav menu */
#nav-menu{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 24px;
}

#cart{
    width: 48px;
    position: relative;
    bottom: 8px;
}
#logo-text{
    position: relative;
    left: 90px;
    bottom: 72px;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 42px;
    font-weight: bold;
}

#logo-right{
    color: #FFC12B;
    font-family: 'Oleo Script Swash Caps', cursive;
}
#menu{
    display: flex;
    gap: 72px;
    list-style: none;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    position: relative;
    left: 230px;
}

.home{
    background-color: #FF6D21;
    height: 10px;
    margin-top: 6px;
    width: 75%;
}

/* hero title */
#hero-left > :first-child{
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    margin-top: 140px;
    margin-bottom: 52px;
}

/* hero body */
#hero-left > :nth-child(2){
    font-size: 24px;
    width: 600PX;
}

/* order now */
#order-now-button{
    background-color: #FA9529;
    margin-top: 120px;
    margin-bottom: 96px;
    width: 180px;
    height: 65px;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 50px 50px 0px 50px;
}
#order-now-button:hover{
    background-color: rgba(250,149,41, .7);
}

/* hero inner */
.hero-inner{
    display: flex;
    flex-direction: row;
}

/* hero right */
#hero-right{
    position: relative;
}

/* burger image */
#hero-right img{
    width: 50%;
    position: relative;
    left: 112px;
    top: 48px;
}

