* default styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* background  
.hero-section{
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 48px;
} */
/* header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* logo */
#logo{
    position: relative;
}
/* nav menu */
#nav-menu{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
     bottom: 24px; 
}

#cart{
    width: 40px;
    position: relative;
    bottom: 8px;
    
    margin-right: 25px;
}
#logo-text{
    position: relative;
    left: 90px;
    bottom: 72px;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 42px;
    font-weight: bold;
}

#logo-right{
    color: #FFC12B;
    font-family: 'Oleo Script Swash Caps', cursive;
}
#menu{
    display: flex;
    gap: 72px;
    list-style: none;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    position: relative;
    left: 230px;
}

.home{
    background-color: #FF6D21;
    height: 10px;
    margin-top: 6px;
    width: 75%;
}

/* hero title */
#shinewords > :first-child{
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    margin-top: 140px;
    margin-bottom: 52px;
}

/* hero body */
#shinewords > :nth-child(2){
    font-size: 24px;
    width: 600PX;
}

/* order now */
#order-now-button{
    background-color: #FA9529;
    margin-top: 120px;
    margin-bottom: 96px;
    width: 180px;
    height: 65px;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 50px 50px 0px 50px;
}
#order-now-button:hover{
    background-color: rgba(250,149,41, .7);
}

/* sectionone continues*/
.shine{
    display: flex;
    flex-direction: row;
}


#shineimage{
    position: relative;
}

/* burger  1 image */
#shineimage img{
    width: 50%;
    position: relative;
    left: 112px;
    top: 48px;
}
.color_yellow  
 {
    background: linear-gradient(
      286deg, 
      transparent 0%,
      rgb(255, 187, 0) 0%,
      rgb(255, 187, 0) 60%,
      transparent 60%
      )

/* benefits section */
.benefits-section{
    padding-top: 240px;
    padding-bottom: 240px;
    padding-left: 36px;
    padding-right: 36px;
    display: flex;
    justify-content: center;
    gap: 36px;
    background-color: #F7FDF6;
    position: relative;
}


/* card */
.card{
    border: solid 1px #5D161E;
    padding: 24px;
    width: 30%;
    border-radius: 18px;
    display: flex;
    height: 75%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/* card title */
.card :nth-child(2){
    font-size: 36px;
    color: #5D161E;
    margin-top: 24px;
    margin-bottom: 24px;
}

/* middle card */
#middle-card{
    width: 40%;
    height: 100%;
    position: relative;
    bottom: 42px;
    padding-top: 48px;
    padding-bottom: 48px;
}

/* bell */
#bell{
    width: 72px;
    margin: 0 auto;
}

/* delivery truck */
#delivery-truck{
    width: 72px;
    margin: 0 auto;
    position: relative;
    top: 24px;
    margin-bottom: 24px;
}

/* burger and coke */
#burger-coke{
    width: 72px;
    margin: 0 auto;
}

/* menu section */
.menu-section{
    text-align: center;
    padding-top: 140px;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 48px;
}

/* menu title */
#menu-title{
    font-size: 42px;
    font-weight: bolder;
}

#menu-title-end{
    color: #FFC12B;
}

/* menu title container */
#menu-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* line */
#line{
    background-color: #FA9529;
    width: 7%;
    height: 12px;
}

/* menu cards container */
.menu-cards-container{
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

/* menu card */
.menu-card{
    box-shadow: 0px 2px 4px 0px #888888;
    border-radius: 60px;
    flex: 1 1 30%;
    width: 30%;
    height: fit-content;
    padding: 24px;
    margin-top: 66px;
    position: relative;
    overflow: hidden;
}

.menu-card img{
    max-width: 100%;
    margin-top: 12px;
}

.menu-card :nth-child(2){
    font-size: 36px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: bold;
    color: #6C2532;
}

.menu-card :nth-child(3){
    font-size: 18px;
}

/* pay */
#pay{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
    padding-left: 18px;
    padding-right: 18px;
}

/* cart container */
#pay :nth-child(2){
    background-color: #E1EBE6;
    width: 30%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding-bottom: 12px;
}

/* price */
#price{
    font-size: 30px;
    font-weight: 500;
}

/* cart */
#pay :nth-child(2) img{
    width: 40px;
}

/* quantity */
#quantity{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 24px;
    width: 40% !important;
    height: 60px !important;
    padding-left: 18px;
    padding-right: 18px;
}

#qty{
    color: black;
    margin-top: 48px;
    background-color: rgba(255, 255, 255, .0) !important;
    font-size: 30px;
    font-weight: 400;
}
#minus, #add{
    margin-top: 12px;
    font-size: 24px;
    font-weight: 200;
    color: #6DA184;
}

/* new */
.new{
    background-color: #FF6D21;
    color: white;
    position: absolute;
    top: 30px;
    right: -100px;
    transform: rotate(45deg);
    width: 300px;
    font-size: 24px;
}

/* slider */
.slider{
    background-color: #F7FDF6;
    padding-top: 240px;
    padding-left: 96px;
    padding-right: 96px;
    margin-top: 140px;
    display: flex;
    flex-direction: row;
}

/* slider left width */
#slider-left{
    width: 50%;
    margin-left: 60px;
}

/* slider right width */
#slider-right{
    width: 50%;
}

/* slider left */
#slider-left :first-child{
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 60px;
}

#decker{
    color: #FFBE41;
}

#slider-left-p{
    font-size: 24px;
    font-weight: 600;
    margin-left: 24px;
}

/* slider toggles */
.slider-toggles{
    display: flex;
    justify-content: flex-start;
    gap: 36px;
    margin-left: 24px;
    flex-direction: row;
    position: relative;
}

/* sliders */
.toggle{
    width: 24px;
    height: 24px;
    background-color: #C4C4C4;
    margin-top: 180px;
    margin-bottom: 180px;
    border-radius: 50%;
}

/* arrow */
#arrow{
    position: relative;
    left: 24px;
    width: 60px;
}

/* active toggle */
#active{
    background-color: #FF6D21;
}

/* slider right */
#slider-right{
    position: relative;
}

#slider-right img{
    max-width: 80%;
    margin-top: -60px;
    margin-left: -84px;
}

#slider-right :first-child{
    position: relative;
    z-index: 2;
}

#slider-right :last-child{
    position: relative;
    margin-top: -360px;
    left: 120px;
    bottom: 200px;
    z-index: 1;
}


/* download app section */
.download-app{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 180px;
    padding-bottom: 180px;
    background-color: #F5B426;
}

/* app section left */
#app-section-left{
    width: 50%;
    padding-left: 96px;
}

#app-section-left p {
    font-size: 48px;
    font-weight: bold;
}

.appstore img{
    width: 180px;
    margin-top: 132px;
}

.appstore :first-child{
    margin-left: 36px;
    margin-right: 12px;
}

/* app section right */
#app-section-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app-section-right img{
    width: 75%;
}

/* footer */
.footer{
    /* TODO */
}

/* footer nav */
.footer-nav{
    display: flex;
    justify-content: space-between;
    background-color: #F7FDF6;
    padding-top: 48px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 48px;
    align-items: center;
}

/* footer logo */
#footer-logo-parent{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav :first-child{
    position: relative;
}

/* sitemap */
.footer-nav :nth-child(2) p{
    font-size: 36px;
    font-weight: bold;
}

#sitemap{
    list-style: none;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* subscriber form */
.footer-nav :last-child p{
    font-size: 32px;
    font-weight: bold;
}

#subscribe-form input, button{
    height: 65px;
    font-size: 18px;
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 36px;
}

#subscribe-form input {
    border-radius: 8px 0 0 8px;
    border: solid 1px #000;
    width: 60%;
    border-right: none;
}

#subscribe-form input ::placeholder{
    color: black !important;
}

#subscribe-form button{
    border: none;
    color: white;
    width: 40%;
    background-color: #F5B426;
}

#subscribe-form{
    display: flex;
}

/* copyright container */
.copyright-container{
    display: flex;
    justify-content: space-between;
    padding-left: 48px;
    padding-top: 48px;
    padding-right: 48px;
    padding-bottom: 48px;
}
